.about {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #464646;
}

.header {
  h1 {
    color: orange;
    font-size: 5rem;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom: 8%;
    margin-top: 1%;
  }
}

.body {
  width: 80%;
  margin: auto;

  section {
    width: 100%;
    display: flex;
    margin: auto;

    .avatar {
      width: 400px;
      height: 400px;
      margin-left: 5%;
    }

    span {
      margin-left: 10%;
      width: 50%;
      border: 1px solid darkorange;
      padding: 2%;
      background-color: #f4f5f4;
      border-radius: 10px;

      h2 {
        font-size: 3rem;
        color: orange;
        margin-top: -2%;
        text-align: center;
      }

      p {
        font-size: 1.2rem;

        a {
          border: 1px solid darkorange;
          padding: 2% 5%;
          margin: auto;

          &:hover {
            box-shadow: 0px 0px 10px orange;
            color: darkorange;
          }
        }
      }
    }
  }

  .info {
    display: flex;
    padding: 2%;

    section {
      margin: 2%;
      flex: 1;
      padding: 16px;
      display: inline-flex;
      justify-content: left;
      background-color: #f4f5f4;
      border: 1px solid #fff;
      border-radius: 20px;

      ul {
        margin-left: -5%;
      }

      h2 {
        color: darkorange;
      }
    }
  }
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  .header {
  }

  .body {
    width: 90%;
    margin: auto;

    section {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 90%;

      .avatar {
        width: 250px;
        height: 250px;
        margin: auto;
        margin-bottom: 5%;
        margin-top: -10%;
      }

      span {
        width: 100%;
        padding: 2%;
        margin-left: 0;
        h2 {
          font-size: 1.2rem;
          padding-left: 2%;
          margin-top: 0;
        }
        p {
          font-size: 0.9rem;
          padding: 2%;
        }
      }
    }

    .info {
      width: 100%;
      margin-left: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      section {
        margin: auto;
        margin-top: 5%;
        padding: 2%;
      }

      ul {
        font-size: 1rem;
        padding-left: 10%;
      }
      h2 {
        font-size: 1.5rem;
        margin-left: -5%;
        margin-top: -2%;
      }
    }
  }
}

@media all and (max-width: 520px) {
  .header {
    h1 {
      font-size: 3rem;
      padding: 2%;
      margin: 2%;
    }
  }

  .body {
    width: 80%;
    margin: auto;

    section {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;

      .avatar {
        width: 250px;
        height: 250px;
        margin: auto;
        margin-bottom: 5%;
        // padding: 2%;
      }

      span {
        width: 100%;
        padding: 2%;
        margin-left: 0;
        h2 {
          font-size: 1.2rem;
          padding-left: 2%;
          margin-top: 0;
        }
        p {
          font-size: 0.9rem;
          padding: 2%;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -5%;

      section {
        margin: 2%;
        padding: 2%;
      }

      ul {
        font-size: 0.8rem;
        margin-left: -5%;
      }
      h2 {
        font-size: 1.2rem;
        margin-left: -5%;
        margin-top: -2%;
      }
    }
  }
}
