.index {
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.indexMenu {
  position: relative;
  width: 50%;
  margin-top: 5px;

  h1 {
    font-size: 5rem;
    color: #fff;
    padding-left: 5%;
  }

  h4 {
    margin-top: -20px;
    font-size: 2rem;
    color: #fff;
    padding-left: 5%;
  }
}

.indexIcons {
  margin: auto;
  color: #fff;
  position: relative;
  margin-left: 5%;

  a {
    margin: auto;
  }

  .fbIcon,
  .linkedIcon,
  .gitIcon {
    color: #fff;

    &:hover {
      box-shadow: 0px 0px 10px #fff;
      color: #ec9706;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;

  h6 {
    margin-top: -20px;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 1240px) {
  .indexMenu {
    width: 40%;

    h1 {
      font-size: 4rem;
    }

    h4 {
      font-size: 1.8rem;
    }
  }

  .indexIcons {
    &:hover {
      box-shadow: 0px 0px 5px #fff;
    }

    margin-left: 2%;
    margin-top: -20px;

    .fbIcon,
    .linkedIcon,
    .gitIcon {
      width: auto;
    }
  }
}

@media all and (max-width: 770px) {
  .indexMenu {
    width: 40%;

    h1 {
      font-size: 3.2rem;
    }

    h4 {
      font-size: 1.5rem;
    }
  }

  .indexIcons {
    margin-left: 2%;
    margin-top: -20px;

    .fbIcon,
    .linkedIcon,
    .gitIcon {
      width: 25px;
    }
  }

  .footer {
    h6 {
      font-size: 1rem;
      margin-top: -30px;
    }
  }
}

@media all and (max-width: 520px) {
  .indexMenu {
    width: 80%;

    h1 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .indexIcons {
    margin-left: 2%;
    margin-top: -20px;

    .fbIcon,
    .linkedIcon,
    .gitIcon {
      width: 20px;
    }
  }

  .footer {
    h6 {
      font-size: 0.6rem;
      margin-top: -20px;
    }
  }
}